<h3 class="text-center p-3 sabu-name">検索一覧</h3>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがMemberの時 -->
  <% if @range == "Member" %>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.last_name, user_path(member.id) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>

    <!--検索対象モデルがVideoの時 -->
    <div class="card-list-container py-4">
      <% @videos.each do |video| %>
      <div class="card w-50 mx-auto mt-4 shadow-lg">
        <% if video.video.attached? %>
          <video src="<%= rails_blob_path(video.video) %>" type="video/mp4" controls></video>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
              </div>
              <div class="col-10">
                <p class="card-title">
                  <%= link_to video.title, video_path(video.id) %>
                </p>
                <p class="card-text">説明：<%= video.explanation %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</table>