  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center px-0 my-5"><!--shadow-lg-->
        <h5 class="text-dark py-4 mb-0 sabu-name">Log-in</h5>
        <div class="form-body p-4">
          <div class="mx-auto text-center">
            <p>With email address<br>Please enter your password.</p>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
              </div>
              <!--メールアドレス-->
              <%= f.email_field :email, autofocus: true, :placeholder => "mail address", class: "form-control" %>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
              </div>
              <!--パスワード-->
              <%= f.password_field :password, autocomplete: "off", :placeholder => "password", class: "form-control" %>
            </div>
            <!--ボタン-->
            <%= f.submit "ログイン", class: 'btn btn-sm btn-primary col-md-6'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>