
<div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg px-0 my-5"><!--shadow-lg-->
        <h5 class="text-dark bg-secondary py-4 mb-0 sabu-name">about</h5>
        <div class="form-body bg-light p-4">
          <div class="mx-auto text-left">
            <p>
              今回私がこのPFのテーマを選んだ理由は、２点あります。<br>
              ①プログラミング初心者の自分が3ヶ月で学んできたことを最大限活かす<br>
              ②ラグビーを幼少期からしており、練習動画などを管理、すぐに見返すことのできるよう解決する。<br>
              <br>
              この２つを取り入れることで少しでも、自分なりのPFができると考え作成致しました。<br>
              作成を進めるにあたり、動画容量での動きの遅さ、PF自体のスマートさがまだまだ学習が必要だと感じる反面<br>
              3ヶ月の成長を実感できました<br>
              人生で初めてのPFで、至らずところが多々ありますが最後まで楽しく考えながら作成する事ができました。<br>

              日々成長できるよう、今後も頑張りたいと思います。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  