<%= notice %>
  <div class="first-view top-title">
    <div class="first-view-text">
      <h1>Welcome to My sports record!!</h1>
      <p>〜自分のスポーツを保存しよう〜</p>
      <div class="link-button-area">
        <%= link_to "Log-in", new_member_session_path, class: "btn btn-outline-secondary btn-lg px-4" %>
        <%= link_to "Sign-up", new_member_registration_path, class: "btn btn-outline-secondary btn-lg px-4" %>
        <%= link_to 'ゲストログイン（閲覧用）', member_guest_sign_in_path, class: "btn btn-outline-secondary btn-lg px-4", method: :post %>
      </div>
    </div>
  </div>