
  <div class="container, shadow-sm">
    <nav class="footer-nav, text-right">
      <div class="column">
        <p class="title">ジャンル検索</p>
        <ul class="footer-link-list">
          <% genres.each do |genre| %>
            <%= link_to videos_path(genre_id: genre.id) do %>
              <li class="text-dark", style="text-decoration: underline;"><%= genre.genre_name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
