// Place all the styles related to the member/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title-font {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.back-color {
  background-color: #fdf9f2;
}

.samu {
  display: block;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  width: 100%;
  height: calc((1140px - 16px * 3) / 3 - 18px);
  object-fit: cover;
  background-image: image-url("no_image.jpeg");
}

.genre-list {
  background-color: rgba(255, 235, 235,.5);
}

.video-container {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .samu {
       height: calc((960px - 16px * 3) / 3 - 18px);
    }
}

@media screen and (max-width: 992px) {
    .samu {
       height: calc((720px - 16px * 3) / 3 - 18px);
    }
}

@media screen and (max-width: 768px) {
    .samu {
       height: calc((540px - 16px * 2) / 2 - 18px);
    }
}

@media screen and (max-width: 576px) {
    .samu {
       height: calc(100% - 16px * 2);
    }
}