<h1>ユーザーが投稿動画</h1>

<% @videos.each do |video| %>
  <% if video.video.attached? %>
    <p><%= video.title %></p> <br>
    <p><%= video.explanation %></p>
    <video src="<%= rails_blob_path(video.video) %>" type="video/mp4" controls></video>
  <% end %>
<% end %>
